form {
    margin-top: 55px;
    margin-bottom: 30px;
}

.formContainer input {
    height: 30px;
    font-size: 1.3rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.message{
    color: red;


}