.App {
  text-align: center;
  margin-bottom: 30px;
}
container{
  max-width: 1440px;
  min-width: 320px;
}
.active{
  color: lightyellow;
  text-decoration: none;
}
h1 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  margin-top: 24px;
}